In [1]:
list1=[1,5,8,4,6,5]

In [3]:
type(list1)

list

In [6]:
list1.apend(20)

AttributeError: 'list' object has no attribute 'e'

In [7]:
for i in list1:
    if i%2==0:
        print("Even")
        
    else:
        print("odd")

odd
odd
Even
Even
Even
odd

In [12]:
import numpy as np


rand_n=np.random(10)

AttributeError: module 'numpy' has no attribute 'rand'

In [13]:
np.random.rand(10)

array([0.27127971, 0.66371291, 0.93684046, 0.78090415, 0.44919263,
       0.2333067 , 0.49052129, 0.7553707 , 0.12875823, 0.47880854])

In [14]:
rand_n=np.random.rand(10)

In [15]:
rand_n

array([0.18584033, 0.41977919, 0.35431719, 0.99714155, 0.94014738,
       0.7736892 , 0.8637316 , 0.44969157, 0.21808998, 0.75528281])

In [16]:
list1.append(50)

In [17]:
how logistic regg works
Hyperparameter

NameError: name 'Hyperparameter' is not defined

In [ ]:
data Encoding

In [ ]:
Statictics
terandancy therome
mean
mediaum
mode

In [18]:
# SQL
deff bet delete and truncate
fetch 2nd highest no.

NameError: name 'SQL' is not defined