In [1]:
dict1={"name":"Mohit", "age":24}

In [2]:
dict1

{'name': 'Mohit', 'age': 24}

In [3]:
type(dict1)

dict

In [4]:
dict1['name']

'Mohit'

In [5]:
fruits=['Apple','Banana','Cherry']

Lat A > 2

In [8]:
fruits[A>2]

NameError: name 'A' is not defined

Area of trangle

In [ ]:
def area_tran:

In [ ]:
    select max(salary) from Emp where > (select max(salary) from emp)

In [ ]:
Here are the corrected versions of your statements and code:
1️⃣ Correcting Dictionary Operations

dict1 = {"name": "Mohit", "age": 24}

# Print dictionary
print(dict1)

# Check the type
print(type(dict1))  # Output: <class 'dict'>

# Accessing value by key
print(dict1['name'])  # Output: Mohit

2️⃣ Correcting List Indexing Issue

fruits = ['Apple', 'Banana', 'Cherry']

# Fetching elements where the first letter is 'A'
filtered_fruits = [fruit for fruit in fruits if fruit.startswith('A')]

print(filtered_fruits)  # Output: ['Apple']

(Since you wrote A > 2, I assume you meant filtering elements starting with 'A')
3️⃣ Correcting Triangle Area Function

def area_triangle(base, height):
    return 0.5 * base * height

# Example usage
print(area_triangle(5, 10))  # Output: 25.0

(Fixed function name syntax and added parameters for base & height.)
4️⃣ Correcting SQL Query for 2nd Highest Salary

SELECT MAX(salary) 
FROM Emp 
WHERE salary < (SELECT MAX(salary) FROM Emp);