In [1]:
a=(1,2,3,[4,5,6])

In [2]:
type(a)

tuple

In [13]:
 a[:-1]

(1, 2, 3)

In [4]:
a.index

ValueError: tuple.index(x): x not in tuple

In [20]:
for i in range (1,51):
    print(i)
    
    
for number in i:
    if i%2==0:
        print("Even")
    else:
        print("Odd")
        
        
for number in i:
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

TypeError: 'int' object is not iterable

In [21]:
use databases

SyntaxError: invalid syntax (2302588985.py, line 1)

In [22]:
select max(salary) from sales where salary > (select max(salary) from sales )

SyntaxError: invalid syntax (3593373910.py, line 1)

In [ ]:
# Print odd numbers from 1 to 50
for num in range(1, 51):
    if num % 2 != 0:
        print(num, end=" ")

In [26]:
# Loop through the range 1 to 50
for number in range(1, 51):
    print(number)  # Print each number

# Check if the number is even or odd
for number in range(1, 51):
    if number % 2 == 0:
        print(f"{number} is Even")
    else:
        print(f"{number} is Odd")

# Print numbers from 1 to 50 again
for number in range(1, 51):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even
11 is Odd
12 is Even
13 is Odd
14 is Even
15 is Odd
16 is Even
17 is Odd
18 is Even
19 is Odd
20 is Even
21 is Odd
22 is Even
23 is Odd
24 is Even
25 is Odd
26 is Even
27 is Odd
28 is Even
29 is Odd
30 is Even
31 is Odd
32 is Even
33 is Odd
34 is Even
35 is Odd
36 is Even
37 is Odd
38 is Even
39 is Odd
40 is Even
41 is Odd
42 is Even
43 is Odd
44 is Even
45 is Odd
46 is Even
47 is Odd
48 is Even
49 is Odd
50 is Even
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [23]:
a = (1, 2, 3, [4, 5, 6])

# Access the 5 in the list
result = a[3][1]

print(result)  # Output: 5

5

In [24]:
a[3].append(50)

In [25]:
a = (1, 2, 3, [4, 5, 6, 50])

# Update 50 to 15 in the list inside the tuple
a[3][3] = 15

print(a)  # Output: (1, 2, 3, [4, 5, 6, 15])

(1, 2, 3, [4, 5, 6, 15])