A function which takes a list of integers as input and returns a list of even numbers from the list.mm

In [9]:
num=list(input("Enter number"))

Enter number2

In [24]:
num=list(map(int, input("Enter number").split()))
def even_num(number):
    if number %2==0:
        print(f"{number} is even number")
    else:
        print(f"{number} is odd number")

Enter number4

In [27]:
for number in num:
    print(even_num(number))

4 is even number
None

In [ ]:
Imagine that you have table named students with columns name and score. 
Fetch the names of the top 5 students according to their score.

In [ ]:
select max(score) from students order by score asc limit 5;

In [ ]:
select name, score from student order by score desc limit 5;

In [1]:
# Taking input as a list of integers
num = list(map(int, input("Enter numbers separated by spaces: ").split()))

def even_num(number):
    if number % 2 == 0:
        print(f"{number} is an even number")
    else:
        print(f"{number} is an odd number")

# Looping through each number in the list and calling even_num
for number in num:
    even_num(number)

Enter numbers separated by spaces:

# ------------------------------------

In [1]:
moh="Mohit Janbandhu 123"

In [2]:
upper_lat=[]
lower_lat=[]
digits=[]

In [3]:
for char in moh:
    if char.isupper():
        upper_lat+=1
    
    elif char.islower():
        lower_lat+=1
    
    elif char.isdigit():
        digits+=1

TypeError: 'int' object is not iterable

In [5]:
for char in moh:
    if char.isupper():
        upper_lat +=1
        
    elif char.islower():
        lower_laters +=1
        
    elif char.isdigit():
        digit_len += 1

TypeError: 'int' object is not iterable

In [44]:
upper_lat

3

In [6]:
instr= "Hello World from Python 155"
lower_count=0
upper_count=0
digit_count=0

for char in instr:
    if char.islower():
        lower_count +=1
    elif char.isupper():
        upper_count +=1
    elif char.isdigit():
        digit_count +=1

In [7]:
print(lower_count)
print(upper_count)
print(digit_count)

17
3
3

In [42]:
list1=[5,8,6,9,3,4,2]

In [9]:
list1.append(100)

In [10]:
list1

[5, 8, 6, 9, 3, 4, 2, 100]

In [11]:
list1.insert(3,200)

In [13]:
list1

[5, 8, 6, 200, 9, 3, 4, 2, 100]

In [15]:
list1.pop(3)

200

In [16]:
list1

[5, 8, 6, 9, 3, 4, 2, 100]

In [21]:
list1.remove(8)

In [22]:
list1

[5, 6, 9, 3, 4, 2, 100]

In [23]:
list1.reverse()

In [24]:
list1

[100, 2, 4, 3, 9, 6, 5]

In [26]:
list1.sort()

In [27]:
list1

[2, 3, 4, 5, 6, 9, 100]

In [32]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [34]:
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [38]:
import random
a= random.randint(10,20)

In [39]:
a

17

In [2]:
i=1
while i<6:
    print(i)
    i=i+1

1
2
3
4
5

In [1]:
i=1
while i<7:
    print(i)
    i=i+1

1
2
3
4
5
6

In [3]:
vowels="aeiouAEIOU"

In [8]:
for char in moh:
    if char in vowels:
        print(char, end=" ")

o i a a u

In [9]:
class student:
    def mba(name.self,roll.self,div.self)

SyntaxError: invalid syntax (1523753040.py, line 2)

In [11]:
class human:
    def male():
        print("short hair")
        
    def female():
        print("Long hair")

In [14]:
human.male()

short hair

In [16]:
p1=human()

In [32]:
class student:
    def __init__(self,name, div, roll):
        self.name=name
        self.div=div
        self.roll=roll
        
    def __init__(self):
        print(self.name, self.div, self.roll)
    
    p1=("mohit","A",35)
    p2=("Vinod","B",33)
        
school=student

In [33]:
human

__main__.human

In [34]:
student.p1

('mohit', 'A', 35)

In [35]:
school.p1

('mohit', 'A', 35)

In [39]:
class student:
    def __init__(self, name, roll, div):
        self.name=name
        self.div=div
        self.roll=roll
        
    def __init__(self):
        print(self.name, self.div, self.roll)
        
        
    p1=("mohit","A",35)
    p2=("Vinod","B",33)

In [40]:
student.p1

('mohit', 'A', 35)

In [43]:
list1

[5, 8, 6, 9, 3, 4, 2]

In [44]:
for number in list1:
    if number%2==0:
        print("Even")
        
    else:
        print("odd")

odd
Even
Even
odd
odd
Even
Even

In [49]:
num= map(lambda Ev_odd: "Even" if Ev_odd %2==0 else "Odd", list1)

In [50]:
print(list(num))

['Odd', 'Even', 'Even', 'Odd', 'Odd', 'Even', 'Even']

In [53]:
num= map(lambda ev_od: "Even" if ev_od %2==0 else "Odd", list1)

print(list(num))

['Odd', 'Even', 'Even', 'Odd', 'Odd', 'Even', 'Even']

In [54]:
tup=(5, 8, 6, 9, 3, 4, 2)
for number in tup:
    if number%2==0:
        print("Even")
        
    else:
        print("odd")

odd
Even
Even
odd
odd
Even
Even

In [55]:

type(tup)

tuple

In [56]:
import random

In [57]:
print(random.random())

0.5595927119944671

In [1]:
i=1
while i<7:
    print(i)
    i=i+1

1
2
3
4
5
6

In [3]:
import sklearn

In [5]:
dir(sklearn.logging)

['BASIC_FORMAT',
 'BufferingFormatter',
 'CRITICAL',
 'DEBUG',
 'ERROR',
 'FATAL',
 'FileHandler',
 'Filter',
 'Filterer',
 'Formatter',
 'Handler',
 'INFO',
 'LogRecord',
 'Logger',
 'LoggerAdapter',
 'Manager',
 'NOTSET',
 'NullHandler',
 'PercentStyle',
 'PlaceHolder',
 'RootLogger',
 'StrFormatStyle',
 'StreamHandler',
 'StringTemplateStyle',
 'Template',
 'WARN',
 'WARNING',
 '_STYLES',
 '_StderrHandler',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__date__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__status__',
 '__version__',
 '_acquireLock',
 '_addHandlerRef',
 '_checkLevel',
 '_defaultFormatter',
 '_defaultLastResort',
 '_handlerList',
 '_handlers',
 '_levelToName',
 '_lock',
 '_logRecordFactory',
 '_loggerClass',
 '_nameToLevel',
 '_register_at_fork_reinit_lock',
 '_releaseLock',
 '_removeHandlerRef',
 '_showwarning',
 '_srcfile',
 '_startTime',
 '_str_formatter',
 '_warnings_showwarning',
 'addLevelName',
 'atexit',
 'basicConfig',
 'captureWarnings',
 'collections',
 'config',
 'critical',
 'currentframe',
 'debug',
 'disable',
 'error',
 'exception',
 'fatal',
 'getLevelName',
 'getLogRecordFactory',
 'getLogger',
 'getLoggerClass',
 'handlers',
 'info',
 'io',
 'lastResort',
 'log',
 'logMultiprocessing',
 'logProcesses',
 'logThreads',
 'makeLogRecord',
 'os',
 'raiseExceptions',
 're',
 'root',
 'setLogRecordFactory',
 'setLoggerClass',
 'shutdown',
 'sys',
 'threading',
 'time',
 'traceback',
 'warn',
 'warning',
 'warnings',
 'weakref']

In [8]:
dir1={ }
list1=[ ]
tup1=( )
set1=set()

In [9]:
print(type(dir1))
print(type(list1))
print(type(tup1))
print(type(set1))

<class 'dict'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [13]:
import math
radius=int(input("Enter any on"))
no=math.pi*radius**2

Enter any on55

In [14]:
no

9503.317777109125