# October 2025 World Economic Outlook.

The World Economic Outlook (WEO) database is published twice a year in April and October in conjunction with the biannual flagship World Economic Outlook report. The database includes selected data on national accounts, inflation, unemployment rates, balance of payments, fiscal indicators, trade for countries and country groups (aggregates), and commodity prices whose data are reported by the IMF. Data are available from 1980 to the present, and projections for most data series are provided for the next five years. For some countries, country groups, and indicators, data are incomplete or unavailable for certain years.

In [2]:
import pandas as pd

In [3]:
data= pd.read_csv("dataset_2026-02-23T09_52_54.981862337Z_DEFAULT_INTEGRATION_IMF.RES_WEO_9.0.0.csv")

C:\Users\Dell\AppData\Local\Temp\ipykernel_10840\1195093809.py:1: DtypeWarning: Columns (9,14,15,17,51,53,59) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv("dataset_2026-02-23T09_52_54.981862337Z_DEFAULT_INTEGRATION_IMF.RES_WEO_9.0.0.csv")

In [6]:
data.columns

Index(['DATASET', 'SERIES_CODE', 'OBS_MEASURE', 'COUNTRY', 'INDICATOR',
       'FREQUENCY', 'SCALE', 'DECIMALS_DISPLAYED', 'FUNCTIONAL_CAT',
       'INT_ACC_ITEM',
       ...
       '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029',
       '2030'],
      dtype='object', length=116)

In [9]:
len(data.columns)

116

## 116 Variables available in this dataset

In [10]:
data

,DATASET,SERIES_CODE,OBS_MEASURE,COUNTRY,INDICATOR,FREQUENCY,SCALE,DECIMALS_DISPLAYED,FUNCTIONAL_CAT,INT_ACC_ITEM,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,IMF.RES:WEO(9.0.0),LIE.LE.A,OBS_VALUE,"Liechtenstein, Principality of","Employed persons, Persons for countries / Inde...",Annual,Millions,Three,NaN,NaN,...,0.041,0.043,0.043,0.044,0.045,0.046,NaN,NaN,NaN,NaN
1,IMF.RES:WEO(9.0.0),CAN.LE.A,OBS_VALUE,Canada,"Employed persons, Persons for countries / Inde...",Annual,Millions,Three,NaN,NaN,...,18.973,19.748,20.341,20.723,21.009,21.080,NaN,NaN,NaN,NaN
2,IMF.RES:WEO(9.0.0),HND.NGDPPC.A,OBS_VALUE,Honduras,"Gross domestic product (GDP), Current prices, ...",Annual,Units,Three,NaN,NaN,...,66813.898,74749.009,80686.569,86300.122,95066.366,100495.041,106338.384,112815.742,119722.508,126957.554
3,IMF.RES:WEO(9.0.0),HND.LP.A,OBS_VALUE,Honduras,"Population, Persons for countries / Index for ...",Annual,Millions,Three,NaN,NaN,...,10.117,10.294,10.475,10.659,10.846,11.037,11.231,11.428,11.629,11.833
4,IMF.RES:WEO(9.0.0),BHS.LP.A,OBS_VALUE,"Bahamas, The","Population, Persons for countries / Index for ...",Annual,Millions,Three,NaN,NaN,...,0.394,0.399,0.404,0.408,0.413,0.417,0.421,0.425,0.429,0.434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8203,IMF.RES:WEO(9.0.0),ZWE.GGXONLB.A,OBS_VALUE,Zimbabwe,"Primary net lending (+) / net borrowing (-), G...",Annual,Billions,Three,NaN,NaN,...,-0.033,-0.233,-2.434,-4.229,-1.760,7.089,12.340,12.813,13.223,13.560
8204,IMF.RES:WEO(9.0.0),ZWE.GGR_NGDP.A,OBS_VALUE,Zimbabwe,"Revenue, General government, Percent of GDP",Annual,Units,Three,NaN,NaN,...,10.547,11.145,11.602,11.882,14.349,14.840,15.125,15.125,15.125,15.125
8205,IMF.RES:WEO(9.0.0),ZWE.GGR.A,OBS_VALUE,Zimbabwe,"Revenue, General government, Domestic currency",Annual,Billions,Three,NaN,NaN,...,0.196,0.823,7.838,97.781,214.207,274.004,318.736,356.308,398.202,445.318
8206,IMF.RES:WEO(9.0.0),ZWE.GGXCNL.A,OBS_VALUE,Zimbabwe,"Net lending (+) / net borrowing (-), General g...",Annual,Billions,Three,NaN,NaN,...,-0.042,-0.244,-2.637,-8.684,-11.163,-4.188,0.100,-0.752,-1.542,-2.683
8207,IMF.RES:WEO(9.0.0),ZWE.GGXCNL_NGDP.A,OBS_VALUE,Zimbabwe,"Net lending (+) / net borrowing (-), General g...",Annual,Units,Three,NaN,NaN,...,-2.239,-3.303,-3.904,-1.055,-0.748,-0.227,0.005,-0.032,-0.059,-0.091