In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [3]:
data=pd.read_csv('CleanedData.csv')

In [4]:
data

           TV     Radio  Newspaper  Sales
0    0.775786  0.762097        0.0   22.1
1    0.148123  0.792339        0.0   10.4
2    0.055800  0.925403        0.0    9.3
3    0.509976  0.832661        0.0   18.5
4    0.609063  0.217742        0.0   12.9
..        ...       ...        ...    ...
195  0.126818  0.074597        0.0    7.6
196  0.316199  0.098790        0.0    9.7
197  0.596212  0.187500        0.0   12.8
198  0.956713  0.846774        0.0   25.5
199  0.782550  0.173387        0.0   13.4

[200 rows x 4 columns]

# Model Building

Linear Regression =
Linear regression is used to find the linear relationship between independent and dependent variables by fitting a straight line to predict a continuous outcome.

Logistic Regression =
Logistic regression is used to find the relationship between independent variables and a categorical (binary) dependent variable by fitting an S-shaped (sigmoid) curve to predict the probability of an outcome.

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("CleanedData.csv")

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
data

           TV     Radio  Newspaper  Sales
0    0.775786  0.762097        0.0   22.1
1    0.148123  0.792339        0.0   10.4
2    0.055800  0.925403        0.0    9.3
3    0.509976  0.832661        0.0   18.5
4    0.609063  0.217742        0.0   12.9
..        ...       ...        ...    ...
195  0.126818  0.074597        0.0    7.6
196  0.316199  0.098790        0.0    9.7
197  0.596212  0.187500        0.0   12.8
198  0.956713  0.846774        0.0   25.5
199  0.782550  0.173387        0.0   13.4

[200 rows x 4 columns]

### splkiting data into x and y variable

In [9]:
x=data.drop("Sales", axis=1)

In [10]:
y= data[['Sales']]

In [11]:
print(f"{x} and {y}")

           TV     Radio  Newspaper
0    0.775786  0.762097        0.0
1    0.148123  0.792339        0.0
2    0.055800  0.925403        0.0
3    0.509976  0.832661        0.0
4    0.609063  0.217742        0.0
..        ...       ...        ...
195  0.126818  0.074597        0.0
196  0.316199  0.098790        0.0
197  0.596212  0.187500        0.0
198  0.956713  0.846774        0.0
199  0.782550  0.173387        0.0

[200 rows x 3 columns] and      Sales
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [12]:
 from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=30, random_state=4)

In [14]:
x_train

           TV     Radio  Newspaper
80   0.256003  0.538306        0.0
18   0.231654  0.413306        0.0
167  0.696990  0.104839        0.0
45   0.589787  0.453629        0.0
153  0.576936  0.800403        0.0
..        ...       ...        ...
104  0.803179  0.691532        0.0
129  0.199188  0.241935        0.0
183  0.970240  0.866935        0.0
174  0.749746  0.068548        0.0
122  0.755157  0.048387        0.0

[170 rows x 3 columns]

In [15]:
x_test

           TV     Radio  Newspaper
11   0.723706  0.483871        0.0
99   0.454853  0.840726        0.0
128  0.742645  0.987903        0.0
175  0.934055  0.985887        0.0
1    0.148123  0.792339        0.0
111  0.815015  0.766129        0.0
90   0.451809  0.098790        0.0
177  0.573216  0.157258        0.0
88   0.296246  0.514113        0.0
187  0.643896  0.578629        0.0
61   0.881299  0.860887        0.0
199  0.782550  0.173387        0.0
191  0.252959  0.217742        0.0
123  0.413933  0.697581        0.0
184  0.855935  0.429435        0.0
188  0.964829  0.280242        0.0
33   0.895840  0.403226        0.0
171  0.553940  0.421371        0.0
138  0.143050  0.522177        0.0
84   0.719648  0.866935        0.0
81   0.808590  0.082661        0.0
102  0.945215  0.203629        0.0
147  0.820088  0.987903        0.0
34   0.321272  0.028226        0.0
47   0.808928  0.836694        0.0
124  0.773757  0.651210        0.0
112  0.591816  0.310484        0.0
6    0.192087  0.661290        0.0
14   0.687859  0.663306        0.0
190  0.131214  0.828629        0.0

In [16]:
y_train

     Sales
80    11.8
18    11.3
167   12.2
45    14.9
153   19.0
..     ...
104   20.7
129    9.7
183   26.2
174   11.5
122   11.6

[170 rows x 1 columns]

In [17]:
y_test

     Sales
11    17.4
99    17.2
128   24.7
175   27.0
1     10.4
111   21.8
90    11.2
177   11.7
88    12.9
187   17.3
61    24.2
199   13.4
191    9.9
123   15.2
184   17.6
188   15.9
33    17.4
171   14.5
138    9.6
84    21.7
81    12.3
102   14.8
147   25.4
34     9.5
47    23.2
124   19.7
112   14.1
6     11.8
14    19.0
190   10.8