In [1]:
print("Mohit Janbandhu")

Mohit Janbandhu

In [4]:
list2=[6,9,8,5,8,5,2,8,(8,8,9,6,5,4,7,2)]

In [5]:
list1=[6,9,8,5,8,5,2,8,1,2,3,4,6,7]

In [7]:
list2[8][2]

9

In [9]:
for i in list1:
    if i %2==0:
        print("Even")
        
    else:
        print("odd")

Even
odd
Even
odd
Even
odd
Even
Even
odd
Even
odd
Even
Even
odd

In [10]:
print(list(i))

TypeError: 'int' object is not iterable

In [11]:
lam_fun= map(lambda x: "Even "if x %2==0 else "Odd",list1)

In [12]:
lam_fun

In [13]:
print(list(lam_fun))

['Even ', 'Odd', 'Even ', 'Odd', 'Even ', 'Odd', 'Even ', 'Even ', 'Odd', 'Even ', 'Odd', 'Even ', 'Even ', 'Odd']

In [14]:
import numpy as np

In [15]:
n=np.random.rand(10)

In [16]:
n

array([0.94027025, 0.40648786, 0.59387279, 0.0271967 , 0.47772112,
       0.55280766, 0.20200386, 0.21323498, 0.62618206, 0.89453161])

# ----------------------------------------------------------------

In [18]:
A=1390

In [19]:
A

1390

In [20]:
B=str(A)

In [21]:
B

'1390'

In [22]:
C=B[::-1]

In [23]:
C

'0931'

In [24]:
D=int(C)

In [25]:
D

931

In [26]:
E=f"{D:0{len(B)}d}"

In [28]:
print(E)

0931

In [29]:
type(E)

str

In [30]:
w=1
while

SyntaxError: invalid decimal literal (3702700736.py, line 1)

In [ ]:

numbers = [0, 1, 2, 3, 10, 15, 22, 33, 100]

for number in numbers:
    print(f"{number} is {check_even_odd(number)}")

In [44]:
def check_even_odd(num):
    if num %2==0:
        return("Even")
        
    else:
        return("Odd")

In [45]:
numbers = [0, 1, 2, 3, 10, 15, 22, 33, 100]

In [46]:
print(f"{number} is {check_even_odd(number)}")

100 is Even

In [47]:
for number in numbers:
    print(f"{number} is {check_even_odd(number)}")

0 is Even
1 is Odd
2 is Even
3 is Odd
10 is Even
15 is Odd
22 is Even
33 is Odd
100 is Even

In [48]:
mj=int(input("Enter any number"))

Enter any number5