In [1]:
print("Mohit Janbandhu")

Mohit Janbandhu

In [4]:
list2=[6,9,8,5,8,5,2,8,(8,8,9,6,5,4,7,2)]

In [5]:
list1=[6,9,8,5,8,5,2,8,1,2,3,4,6,7]

In [7]:
list2[8][2]

9

In [9]:
for i in list1:
    if i %2==0:
        print("Even")
        
    else:
        print("odd")

Even
odd
Even
odd
Even
odd
Even
Even
odd
Even
odd
Even
Even
odd

In [10]:
print(list(i))

TypeError: 'int' object is not iterable

In [11]:
lam_fun= map(lambda x: "Even "if x %2==0 else "Odd",list1)

In [12]:
lam_fun

In [13]:
print(list(lam_fun))

['Even ', 'Odd', 'Even ', 'Odd', 'Even ', 'Odd', 'Even ', 'Even ', 'Odd', 'Even ', 'Odd', 'Even ', 'Even ', 'Odd']