# If

In [5]:
i=5

In [6]:
if i <=6:
    print("True")

True

In [8]:
int1=int(input("Enter Number"))
if int1%2==0:
    print("Even")
    
elif int1%2!=0:
    print("Odd")
    
else:
    print("Enter Valid Number")

Enter Number6
Even

In [14]:
list1=[6,9,8,5,8,5,2,8,1,2,3,4,6,7]
#int1=int(input("Enter Number"))
for num in list1:
    if num%2==0:
        print("Even")
    else:
        print("Odd")

Even
Odd
Even
Odd
Even
Odd
Even
Even
Odd
Even
Odd
Even
Even
Odd

In [16]:
moh="Mohit Janbandhu 1234"
vowels="AEIOUaeiou"
for char in moh:
    if char in vowels:
        print(char,end=' ')

o i a a u

In [20]:
moh="Mohit Janbandhu 1234"

In [21]:
split=moh.split()

In [23]:
rev=split[::-1]

In [25]:
joined= ' '.join(rev)

In [26]:
joined

'1234 Janbandhu Mohit'

In [27]:
moh

'Mohit Janbandhu 1234'

#### Find UpperCase , Lower Case and digits

In [36]:
moh="Mohit Janbandhu 1234"

In [43]:
moh="Mohit Janbandhu 1234"
vowels="AEIOUaeiou"
upper_case=0
lower_case=0
digits=0

for char in moh:
    if char.isupper():
        upper_case +=1
        
    elif char.islower():
        lower_case +=1
        
    elif char.isdigit():
        digits += 1
        
print("This much has Upper Latter{}".format(upper_case))
print(f" This mus has Lower digits {lower_case}")
print(f" This mush has dgits {digits}")

This much has Upper Latter2
 This mus has Lower digits 12
 This mush has dgits 4

In [44]:
for char in moh:
    if char in vowels:
        print(char)

o
i
a
a
u

In [45]:
moh

'Mohit Janbandhu 1234'

In [46]:
split=moh.split()

In [47]:
rev=split[::-1]

In [48]:
joined=" ".join(rev)

In [49]:
print(joined)

1234 Janbandhu Mohit

In [76]:
num=96540

In [78]:
str1=str(num)

In [80]:
rev=str1[::-1]

In [82]:
int_num=int(rev)

In [84]:
formatted = f"{int_num:0{len(str1)}d}"

In [85]:
print(formatted)

04569

In [68]:
type(with_zero)

str

In [70]:
A=012150

In [71]:
A_str = str(A)

# Reverse the string
A_reversed_str = A_str[::-1]

# Convert the reversed string back to an integer
A_reversed_int = int(A_reversed_str)

# Print the integer formatted to include leading zeros, if necessary
# Assuming you want it to have the same number of digits as the original number
formatted_output = f"{A_reversed_int:0{len(A_str)}d}"
print(formatted_output)

05121

In [72]:
type(formatted_output)

str

In [73]:
int_int=int(formatted_output)

In [74]:
int_int

5121

In [ ]:
f'{}'

# For

## https://youtu.be/x3L-JoYyF8Q?si=qR8dmz2ZlUJn3bhc

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [38]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [41]:
for i in range(5):
    if i==2:
        break
            
    print("I till last",i)

I till last 0
I till last 1

In [42]:
for i in range(5):
    if i==2:
        continue
            
    print("I till last",i)

I till last 0
I till last 1
I till last 3
I till last 4

# While

In [1]:
i=1
while i<10:
    print(i)
    
    i+=1

1
2
3
4
5
6
7
8
9

In [2]:

sec_num=3
guess=int(input("Guess the number: "))

while guess!=sec_num:
    guess=int(input("Guess another number: "))
    
else:
        print("Congratulation you have got it")

Guess the number: 3
Congratulation you have got it

In [5]:
breaked=3
sec_num=3
guess=int(input("Guess the number: "))

while guess!=sec_num:
    guess=int(input("Guess another number: "))
    break(Breaked)
    
else:
        print("Congratulation you have got it")

SyntaxError: invalid syntax (1751355356.py, line 7)

In [86]:
i=1
while i<6:
    print(i)
    
    i+=1

1
2
3
4
5

In [3]:
list1=[6,9,8,5,8,5,2,8,1,2,3,4,6,7]

In [13]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [19]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [20]:
list1=[6,9,8,5,8,5,2,8,1,2,3,4,6,7]

In [23]:
inp=int(input())

2

In [27]:
inp=int(input())
if inp%2==0:
    print("This is even number {}".format(inp))
    
else:
    print(f"This is odd number {inp}")

8
This is even number 8

In [31]:
for num in list1:
    if num%2==0:
        print("{} this is even number".format(num))
            
    else:
        print(f"{num} this is odd number")

6 this is even number
9 this is odd number
8 this is even number
5 this is odd number
8 this is even number
5 this is odd number
2 this is even number
8 this is even number
1 this is odd number
2 this is even number
3 this is odd number
4 this is even number
6 this is even number
7 this is odd number

In [32]:
char = input()
if char == 'p' or char =='P':
    print('Python')
elif char == 'd' or char=='D':
    print('Data Science')
else:
    print('enter a correct character')

d
Data Science

6

In [102]:
ev_od= map(lambda ev_odd: 'Even'if ev_odd %2==0 else 'odd',list1)

In [103]:
list(ev_od)

['Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'Even',
 'odd']

In [104]:
print(list(ev_od))

[]

In [96]:
ev_od

In [95]:
Even_od= lambda e_d: e_d%2==0
print(Even_od(5))

False

In [117]:
def check_evodd(num):
    if num%2==0:
        return 'Even'
    else:
        return 'Odd'

In [118]:
print(check_evodd(4))

Even

In [124]:
for num in list1:
    print(f"{num} is {check_evodd(num)}")

6 is Even
9 is Odd
8 is Even
5 is Odd
8 is Even
5 is Odd
2 is Even
8 is Even
1 is Odd
2 is Even
3 is Odd
4 is Even
6 is Even
7 is Odd

In [123]:
list1

[6, 9, 8, 5, 8, 5, 2, 8, 1, 2, 3, 4, 6, 7]

In [122]:
list1=[6,9,8,5,8,5,2,8,1,2,3,4,6,7]