In [1]:
import numpy as np

In [5]:
import pandas as pd
import seaborn as sns

In [13]:
data=sns.load_dataset('iris')

In [12]:
data1=pd.read_csv("Advertising.csv")

In [14]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [15]:
data['sepal_length'].mean()

5.843333333333334

In [16]:
data['sepal_length'].median()

5.8

In [17]:
data['sepal_length'].mode()

0    5.0
Name: sepal_length, dtype: float64

In [18]:
data3=data['sepal_length']

In [20]:
data3.mean()

5.843333333333334

In [22]:
from statsmodels.stats.weightstats import ztest

In [23]:
from statsmodels.stats.weightstats import ztest

In [28]:
z,p=ztest(data3, value =4)

In [30]:
print(z,p)

27.263680640799215 1.1440121172576985e-163

In [26]:
a = ztest(data3,value = 4)

In [27]:
a

(27.263680640799215, 1.1440121172576985e-163)