In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [3]:
data=pd.read_csv('CleanedData.csv')

In [4]:
data

           TV     Radio  Newspaper  Sales
0    0.775786  0.762097        0.0   22.1
1    0.148123  0.792339        0.0   10.4
2    0.055800  0.925403        0.0    9.3
3    0.509976  0.832661        0.0   18.5
4    0.609063  0.217742        0.0   12.9
..        ...       ...        ...    ...
195  0.126818  0.074597        0.0    7.6
196  0.316199  0.098790        0.0    9.7
197  0.596212  0.187500        0.0   12.8
198  0.956713  0.846774        0.0   25.5
199  0.782550  0.173387        0.0   13.4

[200 rows x 4 columns]

# Model Building

Linear Regression =
Linear regression is used to find the linear relationship between independent and dependent variables by fitting a straight line to predict a continuous outcome.

Logistic Regression =
Logistic regression is used to find the relationship between independent variables and a categorical (binary) dependent variable by fitting an S-shaped (sigmoid) curve to predict the probability of an outcome.