In [15]:
import numpy as np

In [1]:
print("Mohit Janbandhu")

Mohit Janbandhu

In [2]:
Moh="Mohit Janbandhu"

In [13]:
print(f"My name is {Moh}")
print("My name is {}".format(Moh))
print("My name is", Moh)

My name is Mohit Janbandhu
My name is Mohit Janbandhu
My name is Mohit Janbandhu

In [14]:
print("My name is {}".format(Moh))

My name is Mohit Janbandhu

In [1]:
import pandas as pd
import seaborn as snb

In [2]:
data1= pd.read_csv('Advertising.csv')

In [3]:
data1

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [4]:
data= snb.load_dataset("Iris")

In [5]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
from statsmodels.stats.weightstats import ztest

In [7]:
z_score, p_value= ztest(data1["TV"], value=140)

In [8]:
print(f"This is {z_score} and this is {p_value}")

This is 1.160059123522025 and this is 0.246024735213222

In [10]:
a=0.05
b=p_value>a
b

True

In [ ]:
# Therefore, we accept the null hypothesis.