# Descriptive Statistics 

# Inferentia Statistics

### Data
   * Quantitative (Numerical)
       *  Continuos
       * Discrete
    
    
    
  * Qualitative (Categorical)
       * Ordinl
       * Nominal

# Descriptive Statistics

In [10]:
import pandas as pd
import seaborn as sbn
import matplotlib.pyplot as plt

In [16]:
data1= pd.read_csv("Advertising.csv")

In [17]:
data1

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [13]:
data= sbn.load_dataset('Iris')

In [14]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [18]:
data.mean()

C:\Users\Dell\AppData\Local\Temp\ipykernel_16756\531903386.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [19]:
data['sepal_length'].mean()

5.843333333333334

In [20]:
data.median()

C:\Users\Dell\AppData\Local\Temp\ipykernel_16756\4184645713.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [21]:
data['sepal_length'].median()

5.8

In [22]:
data.mode()

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.0          3.0           1.4          0.2      setosa
1           NaN          NaN           1.5          NaN  versicolor
2           NaN          NaN           NaN          NaN   virginica

In [24]:
data['sepal_length'].mode()

0    5.0
Name: sepal_length, dtype: float64

In [25]:
# Standard Daviation
data['sepal_length'].std()

0.8280661279778629

In [26]:
# variance
data["sepal_length"].var()

0.6856935123042505

In [27]:
# min
data["sepal_length"].min()

4.3

In [28]:
# max
data["sepal_length"].max()

7.9

In [ ]:
# Range
ran= max-min

In [29]:
# range
range=data["sepal_length"].max()-data["sepal_length"].min()
print(range)

3.6000000000000005

In [30]:
# skew
data['sepal_length'].skew()
# data is normal since 0.3 lies within -0.5 and 0.5

0.3149109566369728

In [31]:
# kurt
data['sepal_length'].kurt()
# kurtosis is less than 3 , less peaked

-0.5520640413156395

In [32]:
# lower quartile
Q1=data['sepal_length'].quantile(0.25)
Q1

5.1

In [33]:
# upper quartile
Q3=data['sepal_length'].quantile(0.75)
Q3

6.4

In [34]:
# middle quartile
Q2=data['sepal_length'].quantile(0.5)
Q2

5.8

In [36]:
q1=data['sepal_length'].quantile(0.25)

In [37]:
# IQR=Q3-Q1
IQR=Q3-Q1
IQR

1.3000000000000007

In [38]:
# corr
data.corr()

C:\Users\Dell\AppData\Local\Temp\ipykernel_16756\1451583306.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [ ]:
np.corrcoef(data.sepal_length,data.sepal_width)[0,1]

In [39]:
# covariance
data.cov()

C:\Users\Dell\AppData\Local\Temp\ipykernel_16756\2989064597.py:2: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.cov()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.042434      1.274315     0.516271
sepal_width      -0.042434     0.189979     -0.329656    -0.121639
petal_length      1.274315    -0.329656      3.116278     1.295609
petal_width       0.516271    -0.121639      1.295609     0.581006

# Hypothesis Testing

# ZTest

In [42]:
# There is a claim that average age of IT male professionals in Bangalore is 35 years.
# H0:average age is 35 years
# Ha:average age is not 35 years

In [43]:
# z test
data=[36,25,26,27,33,32,37,27,46,28,29,25,27,28,34,35,36,37,28,24,29,32,31,26,27,28]

In [44]:
from statsmodels.stats.weightstats import ztest

In [45]:
p,z= ztest(data,value=35)

In [47]:
print("P is",p,"Z is",z)

P is -4.498270228650294 Z is 6.8508584289955935e-06

In [48]:
# At 5% level of significance, we reject null hypothesis because p<alpha.
# We accept alternate hypothesis

In [50]:
print(f"P is {p} And Z is {z}")

P is -4.498270228650294 And Z is 6.8508584289955935e-06

In [51]:
print("P is{} and Z is {}".format(p,z))

P is-4.498270228650294 and Z is 6.8508584289955935e-06

In [55]:
data1["TV"]

0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64

In [56]:
data1["TV"].mean()

147.0425

In [60]:
data3=data1["TV"]
data3

0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64

In [69]:
from statsmodels.stats.weightstats import ztest
z,p= ztest(data1["TV"], value=140)
# print("P is{} and Z is {}".format(p,z))
# o/p P is1.160059123522025 and Z is 0.246024735213222

In [70]:
print("P is{} and Z is {}".format(p,z))

P is0.246024735213222 and Z is 1.160059123522025

In [71]:
p_value = 0.246 > 0.05
# Therefore, we accept the null hypothesis.

In [68]:
p_value

True

# We Accept Null Hypothesis

# T-Test

# Paired Test

In [53]:
from statsmodels.stats.weightstats import ztest