In [1]:
import numpy as np

In [5]:
import pandas as pd
import seaborn as sns

In [13]:
data=sns.load_dataset('iris')

In [12]:
data1=pd.read_csv("Advertising.csv")

In [14]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [15]:
data['sepal_length'].mean()

5.843333333333334

In [16]:
data['sepal_length'].median()

5.8

In [17]:
data['sepal_length'].mode()

0    5.0
Name: sepal_length, dtype: float64

In [18]:
data3=data['sepal_length']

In [20]:
data3.mean()

5.843333333333334

In [22]:
from statsmodels.stats.weightstats import ztest

In [23]:
from statsmodels.stats.weightstats import ztest

In [28]:
z,p=ztest(data3, value =4)

In [30]:
print(z,p)

27.263680640799215 1.1440121172576985e-163

In [26]:
a = ztest(data3,value = 4)

In [27]:
a

(27.263680640799215, 1.1440121172576985e-163)

# Infrencial Statistics

In [2]:
import pandas as pd 
import seaborn as sbn

In [3]:
data= sbn.load_dataset('iris')

In [4]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

#### Central tendency theorem

In [6]:
data.mean()

C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\531903386.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [7]:
data['sepal_length'].mean()

5.843333333333334

In [8]:
data.median()

C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\4184645713.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [9]:

data['sepal_length'].median()

5.8

In [10]:
data.mode()

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.0          3.0           1.4          0.2      setosa
1           NaN          NaN           1.5          NaN  versicolor
2           NaN          NaN           NaN          NaN   virginica

In [11]:
data['sepal_length'].mode()

0    5.0
Name: sepal_length, dtype: float64

In [14]:
# range
minn= data['sepal_length'].min()
maxx=data['sepal_length'].max()
rangee=maxx-minn
rangee

3.6000000000000005

In [15]:
rangeee=data['sepal_length'].max()-data['sepal_length'].min()
rangeee

3.6000000000000005

In [16]:
# varience
data.var()

C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\188325078.py:2: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.var()

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [17]:
data['sepal_length'].var()

0.6856935123042505

In [18]:
# Standard Daviation
data.std()

C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\1806253478.py:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

In [19]:
data['sepal_length'].std()

0.8280661279778629

In [22]:
# quartile
Q1=data.quantile(0.25)
Q2=data.quantile(0.50)
Q3=data.quantile(0.75)

C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\996540541.py:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1=data.quantile(0.25)
C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\996540541.py:3: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q2=data.quantile(0.50)
C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\996540541.py:4: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q3=data.quantile(0.75)

In [23]:
IQR=Q3-Q1
IQR

sepal_length    1.3
sepal_width     0.5
petal_length    3.5
petal_width     1.5
dtype: float64

In [24]:
# quartile
Q1=data['sepal_length'].quantile(0.25)
Q2=data['sepal_length'].quantile(0.50)
Q3=data['sepal_length'].quantile(0.75)
IQR=Q3-Q1
IQR

1.3000000000000007

In [26]:
data.skew()

C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\1188251951.py:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.skew()

sepal_length    0.314911
sepal_width     0.318966
petal_length   -0.274884
petal_width    -0.102967
dtype: float64

In [27]:
data['sepal_length'].skew()

0.3149109566369728

In [25]:
data.kurt()

C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\2907027414.py:1: FutureWarning: The default value of numeric_only in DataFrame.kurt is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.kurt()

sepal_length   -0.552064
sepal_width     0.228249
petal_length   -1.402103
petal_width    -1.340604
dtype: float64

In [28]:
data['sepal_length'].kurt()

-0.5520640413156395

In [29]:
data.cov()

C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\4020818503.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.cov()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.042434      1.274315     0.516271
sepal_width      -0.042434     0.189979     -0.329656    -0.121639
petal_length      1.274315    -0.329656      3.116278     1.295609
petal_width       0.516271    -0.121639      1.295609     0.581006

In [31]:
data['sepal_length','sepal_width'].cov()

KeyError: ('sepal_length', 'sepal_width')

In [39]:
data[['sepal_length','sepal_width']].cov()

              sepal_length  sepal_width
sepal_length      0.685694    -0.042434
sepal_width      -0.042434     0.189979

In [40]:
data['sepal_length'].cov(data['sepal_width'])

-0.042434004474272924

In [32]:
data.corr()

C:\Users\Dell\AppData\Local\Temp\ipykernel_20420\2627137660.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [33]:
data['sepal_length','sepal_width'].corr()

KeyError: ('sepal_length', 'sepal_width')

In [37]:
data[['sepal_length','sepal_width']].corr()

              sepal_length  sepal_width
sepal_length       1.00000     -0.11757
sepal_width       -0.11757      1.00000

In [38]:
data['sepal_length'].corr(data['sepal_width'])

-0.11756978413300208

In [35]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# Hypothesis Testing